{{#> app}}
{{#*inline "content"}}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
        <div class="flex flex-wrap -m-4 justify-center">
            <div class="xl:w-2/5 md:w-1/2 p-4 ">
                <div
                    class="border text-[#08e2ff] hover:text-black border-[#08e2ff] p-6 hover:bg-white hover:border-white rounded-lg">
                    <h2 class="text-lg text-[#08e2ff] hover:text-black font-medium title-font mb-2">Concerts</h2>
                </div>
            </div>
            <div class="xl:w-2/5 md:w-1/2 p-4">
                <div
                    class="border text-[#08e2ff] hover:text-black border-[#08e2ff] p-6 hover:bg-white hover:border-white rounded-lg">
                    <h2 class="text-lg text-[#08e2ff] hover:text-black font-medium title-font mb-2">Festivals</h2>
                </div>
            </div>
            <div class="xl:w-2/5 md:w-1/2 p-4">
                <div
                    class="border text-[#08e2ff] hover:text-black border-[#08e2ff] p-6 hover:bg-white hover:border-white rounded-lg">
                    <h2 class="text-lg text-[#08e2ff] hover:text-black font-medium title-font mb-2">Exhibitions</h2>
                </div>
            </div>
            <div class="xl:w-2/5 md:w-1/2 p-4">
                <div
                    class="border text-[#08e2ff] hover:text-black border-[#08e2ff] p-6 hover:bg-white hover:border-white rounded-lg">
                    <h2 class="text-lg text-[#08e2ff] hover:text-black font-medium title-font mb-2">Workshops & Seminars
                    </h2>
                </div>
            </div>
            <div class="xl:w-2/5 md:w-1/2 p-4">
                <div
                    class="border text-[#08e2ff] hover:text-black border-[#08e2ff] p-6 hover:bg-white hover:border-white rounded-lg">
                    <h2 class="text-lg text-[#08e2ff] hover:text-black font-medium title-font mb-2">Networking Events
                    </h2>
                </div>
            </div>
            <div class="xl:w-2/5 md:w-1/2 p-4">
                <div
                    class="border text-[#08e2ff] hover:text-black border-[#08e2ff] p-6 hover:bg-white hover:border-white rounded-lg">
                    <h2 class="text-lg text-[#08e2ff] hover:text-black font-medium title-font mb-2">Fashion Shows:</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{{/inline}}
{{/app}}