{{#> app}}
{{#*inline "content"}}
<section class="u-hero-gradient u-screen-headerless flex flex-col">
  <header class="h-[8rem] py-5">
    <nav class="border-gray-200 dark:bg-gray-900">
      <div class="container flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://flowbite.com/" class="flex items-center">
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white">Alpha's
            Bi</span>
        </a>
        <div class="flex md:order-2">
          <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul
              class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 mr-6 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="#" class="transition-transform duration-100 ease-in-out text-white">Home</a>
              </li>
              <li>
                <a href="#" class="transition-transform duration-100 ease-in-out text-white">About</a>
              </li>
              <li>
                <a href="#" class="transition-transform duration-100 ease-in-out text-white">Services</a>
              </li>
              <li>
                <a href="#" class="transition-transform duration-100 ease-in-out text-white">Contact</a>
              </li>
            </ul>
            <button type="button"
              class="
            relative
            flex
            items-center
            font-medium
            leading-tight
            select-none
            group
            transition-all
            duration-300
            ease-in-out
            focus:ring focus:ring-opacity-50
            outline-none
            focus:outline-none
            pt-4
            pb-4
            text-[#08e2ff] border-[#08e2ff] hover:bg-white hover:text-black hover:border-white focus:bg-white focus:border-white hover:text-ternary focus:text-ternary border bg-transparent text-center rounded-full px-8 text-sm">
              <span class="transition-transform duration-100 ease-in-out">Connexion</span>
            </button>
          </div>

          <button data-collapse-toggle="navbar-cta" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-cta" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15" />
            </svg>
          </button>
        </div>
      </div>
    </nav>
  </header>
  <section class="flex flex-wrap">
    <div class="container mx-auto flex items-center flex-wrap sm:w-5/6 h-[850px]">
      <div class="flex flex-col w-1/2 h-fit pl-8 space-y-3 hero-lp-text">
        <h3 class="u-subtitle sm:mb-4 text-primary text-[#08e2ff]">Billetterie & Cashless</h3>
        <div>
          <h1 class="text-white text-7xl lg:w-5/6">
            Easier, more powerful,
            <strong class="text-[#08e2ff]"> less expensive </strong>
          </h1>
        </div>
        <p class="text-white lg:w-4/6">
          Since 2023, we've won over more than 69 event organizers with our innovative, high-performance ticketing
          solution.
        </p>
      </div>
      <div class="flex w-1/2 h-full">
        <div class="bg-white h-[600px] hero-r-dive-1 w-[350px] rounded-lg">
          <img class="object-cover h-full" src="/img/john-arano-_qADvinJi20-unsplash.jpg" alt="party">
        </div>
        <div class="bg-white h-[320px] flex flex-col z-10 w-[350px] hero-r-dive-2 rounded">
          <div class="flex h-2/3 bg-white p-1">
            <img class="h-full w-full object-cover" src="/img/john-arano-_qADvinJi20-unsplash.jpg" alt="party">
          </div>
          <div class="flex flex-col mt-5 h-1/3 items-center">
            <h3 class="text-[#635bff]">25/08/2000</h3>
            <h1>Coding Party</h1>
            <h2>Code like never before</h2>
          </div>
        </div>
        <div class="bg-black h-[250px] z-10 w-[350px] hero-r-dive-3 rounded">
          <div class="flex h-full flex-col space-y-1 bg-white p-2">
            <div class="flex justify-between p-1 mb-2">
              <span>Entitled</span>
              <span>Price</span>
            </div>
            <div class="flex justify-between p-1">
              <span>1-day pass</span>
              <span>5.000 XOF</span>
            </div>
            <hr>
            <div class="flex justify-between p-1">
              <span>2-day pass</span>
              <span>14.999 XOF</span>
            </div>
            <hr>
            <div class="flex justify-between p-1">
              <span>VIP</span>
              <span>69.999 XOF</span>
            </div>
            <hr class="mb-3">
            <div class="flex justify-between p-1 hero-r-dive-3-secure-div">
              <div class="flex justify-between space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 mt-1 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                </svg>
                <span class="p-1">Secure payment</span>
              </div>
              <button class="border bg-[#635bff] text-white rounded p-1">
                Book it now !
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{{/inline}}
{{/app}}