{{#> app}}
{{#*inline "content"}}
<div class="font-sans antialiased bg-grey-lightest">
    <!-- Top Nav -->
    <div class="w-full bg-green fixed shadow z-1">
        <div class="container mx-auto">
            <div class="w-full flex justify-between items-center py-4 px-8">
                <!-- Brand -->
                <div class="text-center text-white font-bold">Your Company</div>
                <!-- Navigation -->
                <div class="items-center hidden sm:flex">
                    <a href="#" class="text-white hover:text-green-lightest no-underline mx-2 px-2 py-2">Link 1</a>
                    <a href="#" class="text-white hover:text-green-lightest no-underline mx-2 px-2 py-2">Link 2</a>
                    <a href="#"
                        class="bg-green-dark hover:bg-green-darker rounded-full text-white no-underline mx-2 px-4 py-2">Link
                        3</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="w-full bg-grey-lightest" style="padding-top: 4rem;">
        <div class="container mx-auto py-8">
            <form id="registration-form" action="/users/register" method="POST">
                <div class="w-5/6 lg:w-1/2 mx-auto bg-white rounded shadow">
                    <div class="py-4 px-8 text-black text-xl border-b border-grey-lighter">Register for a free account
                    </div>
                    <div class="py-4 px-8">
                        <div id="error-messages" class="text-red-500">
                            {{ errorMessage }}
                        </div>
                        <div class="flex mb-4">
                            <div class="w-1/2 mr-1">
                                <label class="block text-grey-darker text-sm font-bold mb-2" for="first_name">First
                                    Name</label>
                                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                    id="first_name" type="text" placeholder="Your first name">
                            </div>
                            <div class="w-1/2 ml-1">
                                <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Last
                                    Name</label>
                                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                    id="last_name" type="text" placeholder="Your last name">
                            </div>
                        </div>
                        <div class="flex mb-4">
                            <div class="w-1/2 mr-1">
                                <label class="block text-grey-darker text-sm font-bold mb-2"
                                    for="first_name">Username</label>
                                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                    id="username" type="text" placeholder="Your Username">
                            </div>
                            <div class="w-1/2 ml-1">
                                <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Phone
                                    Number</label>
                                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                    id="Phone_number" type="tel" placeholder="Your phone number">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="birthday">Birthday</label>
                            <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                id="birthday" type="date" placeholder="Your birthdate">
                        </div>
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email</label>
                            <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email"
                                type="email" placeholder="Enter a valid email address">
                        </div>
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
                            <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                id="password" type="password" placeholder="A secure password">
                            <p class="text-grey text-xs mt-1">At least 6 characters</p>
                        </div>
                        <div class="flex items-center justify-between mt-8">
                            <button class="bg-blue hover:bg-blue-dark text-black font-bold py-2 px-4 rounded-full"
                                type="submit">
                                Sign Up
                            </button>
                        </div>
                        <p class="text-center my-4">
                            <a href="#" class="text-grey-dark text-sm no-underline hover:text-grey-darker">I already
                                have an account</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const form = document.getElementById('registration-form');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const response = await fetch('/users/register', {
            method: 'POST',
            body: formData
        });

        if (response.ok) {
            // Registration successful, redirect or show success message
            window.location.href = '/';
        } else {
            const responseData = await response.json();
            const errorParagraph = document.getElementById('error-messages');

            // Display specific error messages for each field
            errorParagraph.innerHTML = `
        <p>${responseData.message.firstname || ''}</p>
        <p>${responseData.message.lastname || ''}</p>
        <p>${responseData.message.username || ''}</p>
        <p>${responseData.message.phone || ''}</p>
        <p>${responseData.message.birthday || ''}</p>
        <p>${responseData.message.email || ''}</p>
        <p>${responseData.message.password || ''}</p>
      `;
        }
    });
</script>
{{/inline}}
{{/app}}



{{!-- {{#> app}}
{{#*inline "content"}}
<div class="font-sans antialiased bg-grey-lightest">
    <!-- Top Nav -->
    <div class="w-full bg-green fixed shadow z-1">
        <div class="container mx-auto">
            <div class="w-full flex justify-between items-center py-4 px-8">
                <!-- Brand -->
                <div class="text-center text-white font-bold">Your Company</div>
                <!-- Navigation -->
                <div class="items-center hidden sm:flex">
                    <a href="#" class="text-white hover:text-green-lightest no-underline mx-2 px-2 py-2">Link 1</a>
                    <a href="#" class="text-white hover:text-green-lightest no-underline mx-2 px-2 py-2">Link 2</a>
                    <a href="#"
                        class="bg-green-dark hover:bg-green-darker rounded-full text-white no-underline mx-2 px-4 py-2">Link
                        3</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="w-full bg-grey-lightest" style="padding-top: 4rem;">
        <div class="container mx-auto py-8">
            <form action="users/register" method="POST">
                <div class="w-5/6 lg:w-1/2 mx-auto bg-white rounded shadow">
                    <div class="py-4 px-8 text-black text-xl border-b border-grey-lighter">Register for a free account
                    </div>
                    <div class="py-4 px-8">
                        <div class="flex mb-4">
                            <div class="w-1/2 mr-1">
                                <label class="block text-grey-darker text-sm font-bold mb-2" for="first_name">First
                                    Name</label>
                                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                    id="first_name" type="text" placeholder="Your first name">
                            </div>
                            <div class="w-1/2 ml-1">
                                <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Last
                                    Name</label>
                                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                    id="last_name" type="text" placeholder="Your last name">
                            </div>
                        </div>
                        <div class="flex mb-4">
                            <div class="w-1/2 mr-1">
                                <label class="block text-grey-darker text-sm font-bold mb-2"
                                    for="first_name">Username</label>
                                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                    id="Username" type="text" placeholder="Your Username">
                            </div>
                            <div class="w-1/2 ml-1">
                                <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Phone
                                    Number</label>
                                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                    id="Phone number" type="tel" placeholder="Your phone number">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Birthday</label>
                            <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                id="birthday" type="date" placeholder="Your birthdate">
                        </div>
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email</label>
                            <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email"
                                type="email" placeholder="Enter a valid email address">
                        </div>
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
                            <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                                id="password" type="password" placeholder="A secure password">
                            <p class="text-grey text-xs mt-1">At least 6 characters</p>
                        </div>
                        <div class="flex items-center justify-between mt-8">
                            <button class="bg-blue hover:bg-blue-dark text-black font-bold py-2 px-4 rounded-full"
                                type="submit">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </div>
                <p class="text-center my-4">
                    <a href="#" class="text-grey-dark text-sm no-underline hover:text-grey-darker">I already have an
                        account</a>
                </p>
            </form>
        </div>
    </div>
</div>
{{/inline}}
{{/app}} --}}